body {


    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background-color: #1f3643;

}

h1 {

    font-size: 30px;
}

h2 {
    font-size: 15px;
}


header, footer {

    background-color: #3e636f;
    color: #ffffff;
    margin: 3em;
}

header h1 {
    margin: 40px;
    /*display: inline-block;*/
}

header h2 {
    margin: 40px 40px 10px;
    /*display: inline-block;*/
}


header ul {

    background-color: #708995;
    padding: 30px;
}

header ul li {
    display: inline-block;

}

header ul li a {
    color: #41c5d0;
    margin: 5px;
    font-size: 20px;
}

article {
    margin: 3em;
    background-color: #fdfdfe;
    padding: 10px;
}

article h2{
    border-bottom: solid #9b9b9b;

}

.photoBy{

    font-style: italic;
}